---
import Sidemenu from '@/components/sidemenu.astro';
import Layout from '../layouts/Layout.astro';
import Maincontent from '@/components/maincontent.astro';
---

<Layout title="Todoist App.">
	<main class="flex align-middle">
		<div class="basis-1/6 h-full hidden md:block">
			<Sidemenu />
		</div>
		<div class="basis-3/4 h-full pt-4">
			<Maincontent />
		</div>
	</main>
</Layout>

<style>
	
</style>
